universo/universo-tintas-Chat-GET-Sessions.json
{
  "nodes": [
    {
      "parameters": {
        "path": "universo_tintas-history",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b09738fc-c0ce-4052-94c7-6eabf21e410e",
      "name": "When called - GET history",
      "position": [
        -352,
        -16
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "40010dce-b754-4779-8c5d-d2e32bc2dc91"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst headers = item.headers || {};\nconst authHeader = headers.authorization || headers.Authorization;\nif (!authHeader || !String(authHeader).toLowerCase().startsWith('bearer ')) {\n  throw new Error('UNAUTHORIZED: missing bearer token');\n}\nconst query = item.query || item.queryString || {};\nconst sessionId = query.sessionId;\nif (!sessionId) {\n  throw new Error('sessionId query parameter is required');\n}\nreturn { authHeader, sessionId };"
      },
      "id": "5aac3253-0e64-46d6-a5d6-dc8f243ecc8c",
      "name": "Auth Guard",
      "position": [
        -176,
        -16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://longflatworm-supabase.cloudfy.live/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authHeader }}"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzczNjY1NzE2LCJleHAiOjE4MDUyMDE3MTZ9.nM55mAkSiyvvaIoUACEw4pY4GSJVfvrMX7b1q5JVwyg"
            }
          ]
        },
        "options": {}
      },
      "id": "5815b4ac-d109-489b-b0c9-5763c9fbe5b7",
      "name": "Validate JWT (Supabase)",
      "position": [
        16,
        -16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const user = $input.first().json;\nconst auth = $('Auth Guard').first().json;\nconst userId = user && user.id;\nif (!userId) throw new Error('UNAUTHORIZED: invalid token');\nconst company = user && user.user_metadata && user.user_metadata.company_name;\nif (company !== 'universo_tintas') {\n  throw new Error('FORBIDDEN: user does not belong to universo_tintas');\n}\nconst prefix = `u_${userId}__`;\nconst sessionId = auth.sessionId;\nif (!String(sessionId).startsWith(prefix)) {\n  throw new Error('FORBIDDEN: session belongs to another user');\n}\nreturn { userId, prefix, sessionId };"
      },
      "id": "c78511b7-569c-4d03-b3b0-2d7af1336240",
      "name": "Build Context",
      "position": [
        208,
        -16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM universo_chat_message \nWHERE session_id = '{{ $json.sessionId }}' \nORDER BY id ASC;",
        "options": {}
      },
      "id": "8d25b68a-5324-4b07-88a1-980a91819cab",
      "name": "Get History from DB",
      "position": [
        400,
        -16
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "5420c903-2b40-4743-965d-0b30d8e6aa80",
      "name": "Return History",
      "position": [
        592,
        -16
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "When called - GET history": {
      "main": [
        [
          {
            "node": "Auth Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Guard": {
      "main": [
        [
          {
            "node": "Validate JWT (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JWT (Supabase)": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Get History from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History from DB": {
      "main": [
        [
          {
            "node": "Return History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}